{% if page.difficulty %}
<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">난이도</span>
    {% assign type = page.difficulty}
    <span class="tag is-success">{{ tag.range.[type].tag }}</span>
  </div>
</div>
{% endif %}

{% if page.range %}
<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">적용 범위</span>
    {% assign type = page.range}
    <span class="tag is-success">{{ tag.range.[type].tag }}</span>
  </div>
</div>
{% endif %}
