{% if page.difficulty %}
<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">난이도</span>
    <span class="tag" style="background-color: {{ site.data.tag.difficulty[page.difficulty].color }};">
      {{ site.data.tag.difficulty[page.difficulty].tag }}
    </span>
  </div>
</div>
{% endif %}

{% if page.range %}
<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">적용 범위</span>
    <span class="tag" style="background-color: {{ site.data.tag.range[page.range].color }};">
      {{ site.data.tag.range[page.range].tag }}
    </span>
  </div>
</div>
{% endif %}