---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans KR", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "/assets/css/custom/main.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap'); // noto sans kr
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'); // bulma
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  font-size: 16px;
}

.page__title {
  line-height: 1.6;
}