.page__hero--overlay {
    color: #fff;
}

.difficulty, .range {
    color: #fff;
}
.difficulty .easy {
    background-color: #80e3ff;
}
.difficulty .medium {
    background-color: #73ffd0;
}
.difficulty .hard {
    background-color: #e88c5f;
}
.difficulty .expert {
    background-color: #e8645f;
}
.range .common {
    background-color: #44cc11;
}
.range .sdok {
    background-color: #828bff;
}
.range .dormitory {
    background-color: #769de8;
}