.page__hero--overlay {
    color: #fff;
}

.tag.content, .notification.content {
    color: #fff;
}
.is-easy, .tag.is-easy {
    background-color: #49c5e7;
}
.is-medium, .tag.is-medium {
    background-color: #3be2aa;
}
.is-hard, .tag.is-hard {
    background-color: #e88c5f;
}
.is-expert, .tag.is-expert {
    background-color: #e8645f;
}
.is-common, .tag.is-common {
    background-color: #44cc11;
}
.is-sdok, .tag.is-sdok {
    background-color: #828bff;
}
.is-dormitory, .tag.is-dormitory {
    background-color: #769de8;
}