.page__hero--overlay {
    color: #fff;
}

.tag.content, .notification.content {
    color: #fff;
}
.is-easy {
    background-color: #80e3ff;
}
.is-medium {
    background-color: #73ffd0;
}
.is-hard {
    background-color: #e88c5f;
}
.is-expert {
    background-color: #e8645f;
}
.is-common {
    background-color: #44cc11;
}
.is-sdok {
    background-color: #828bff;
}
.is-dormitory {
    background-color: #769de8;
}