<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Brokencoms - 아무것도 안했는데, 고장났습니다.</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <div class="container">
        <div class="bc-title">
            <div class="bc-hero">
                <img src="assets/img/title.jpg" class="image img-responsive">
                <h1>Brokencoms</h1>
                <h2>아무것도 안했는데, 고장났습니다.</h2>
                <div class="">
                    <input type="text" class="search" placeholder="Search..." autocomplete="off">
                </div>
            </div>
        </div>
        <!--<div class="bc-category">
            <div class="columns">
                <div class="column">
                    First column
                </div>
                <div class="column">
                    Second column
                </div>
                <div class="column">
                    Third column
                </div>
                <div class="column">
                    Fourth column
                </div>
            </div>
        </div>-->
    </div>
</body>
<script src="/assets/js/lunr/lunr.min.js"></script>
<script src="/assets/js/lunr/lunr.min.js"></script>
<script src="/assets/js/lunr/lunr.min.js"></script>
</html>